@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --primary: #de8971;
  --secondary: #a7d0cd;
  --button-color: #7b6079;
  --background-color: #ffe9d6;
  --logo-text-size: 2.4rem;
  --footer-text-size: 1.8rem;
  --button-text-size: 1.8rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "IBM Plex Mono", monospace;
}

body {
  background-color: var(--background-color);
}

main {
  min-height: calc(100vh - 100px);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--background-color);
}

h1 {
  font-size: var(--logo-text-size);
}

h5 {
  font-size: var(--footer-text-size);
}

.button {
  width: 160px;
  height: 35px;
  border-radius: 10px;
  background-color: var(--button-color);
  font-size: var(--button-text-size);
  color: var(--background-color);
}

.button:focus {
  outline: none;
}

.button_upload {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
